@import "./variables/colores";
@import "./variables/fuentes";

@import "./secciones/header";
@import "./secciones/menu";
@import "./secciones/footer";
@import "./secciones/galeriatienda";
@import "./secciones/navbar";

* {
    margin: 0;
    padding: 0;

    .titulos {
        font-family: $titulos;
    }
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #272727;
    opacity: 0.20;
    mix-blend-mode: overlay;
    
}

body{
    background-color:$fondo-pages
}