@import "./variables/colores";
@import "./variables/fuentes";

@import "./secciones/header";
@import "./secciones/menu";
@import "./secciones/footer";
@import "./secciones/galeriatienda";


* {
    margin: 0;
    padding: 0;

    .titulos {
        font-family: $titulos;
    }
}




