@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Pacifico&display=swap');

$titulos: 'Roboto', sans-serif;
$textos: 'Nunito', sans-serif;

@font-face {
    font-family: $titulos;
    src: url(../recursos/fuentes/NunitoSans-Black.ttf);
}

@font-face {
    font-family: $textos;
    src: url(../recursos/fuentes/NunitoSans-Regular.ttf);
}