/* HEADER */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $textos;
    position: relative;
    z-index: 2;
}

.header-otras{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $textos;
    background-color: $fondo-pages;
}


.header img {
    width: 275px;
}

.header-otras img {
    width: 275px;
}


.header ul {
    display: flex;
    list-style-type: none;
}

.header a {
    color: $blanco;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
}
.header-otras a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
}

.titulos {
    color: $footer-color-font;
    background-color: $fondo-pages;
    text-align: center;
    font-size: 50px;
    padding: 20px;
}


ul {
    background-color: #282A3A;
}



@media (min-widht: 769px) {
    .header {
        text-align: flex-start;
    }

    .header img {
        padding: 0 50px;
        width: 250px
    }

    .header ul {
        padding: 0 50px;
    }
}
