/* MAIN */
.flex-padre {
    background-color: $fondo-pages;
    padding: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    color: white;
    font-family: $textos;
    gap: 10px;
}

@media screen and (max-width:800px) {
    .flex-padre {
        background-color: #161816;
        display: flex;
        flex-direction: column;
        color: white;
        font-family: "Nunito", sans-serif;
        padding: 10px;
        width: auto;
        margin: 30px;

    }
}

@media screen and (max-width:400px) {
    .flex-contacto {
        background-color: #161816;

        display: flex;
        color: white;
        font-family: "Nunito", sans-serif;

    }

}

.flex-contacto {
    background-color: $fondo-pages;
    padding: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    color: white;
    font-family: $textos;

}




form {
    padding: 50px 50px;
    box-shadow: 0 0 30px rgba(228, 23, 121, 0.50);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    height: 433px;
    margin-bottom: 30px;
    display: grid;
    justify-content: center;

}

input {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 25px;
    margin-bottom: 15px;
    align-items: center;

}

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.3fr 0.5fr;
    grid-auto-flow: row;
    grid-template-areas:
        "Texto-principal Texto-principal"
        "informacion-inicio informacion-inicio2"
        "datos-inicio datos-inicio";
}

.Texto-principal {
    grid-area: Texto-principal;
    padding: 150px;
    padding-top: 25%;
    text-align: justify;
    background-color: #161816;
    color: white;
    font-family: $textos;
}

.informacion-inicio {
    grid-area: informacion-inicio;
    background-color: #272c27;
    text-align:justify;
    color: white;
    font-family: $textos;
    padding: 30px;
}

.informacion-inicio2 {
    grid-area: informacion-inicio2;
    background-color: #272c27;
    text-align:justify;
    color: white;
    font-family: $textos;
    padding: 30px;

}

.datos-inicio {
    grid-area: datos-inicio;
    background-color: #161816;
    text-align:justify;
    color: white;
    font-family: $textos;
    padding: 30px;
}


.grilla h1{
    text-align:center;
}