/* MAIN */
.flex-padre {
    background-color: $fondo-pages;
    padding: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    color: white;
    font-family: $textos;
}


.contenido p{
    padding: 50px;
}

.contenedor {
    color: white;
    text-align: center;
    position: relative;
    z-index: 2;

}