/* MAIN */
.flex-padre {
    background-color: $fondo-pages;
    padding: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    color: white;
    font-family: $textos;
    gap: 10px;
}

@media screen and (max-width:400px) {
    .flex-padre {
        background-color: #161816;
        display: flex;
        flex-direction: column;
        color: white;
        font-family: "Nunito", sans-serif;
        padding: 10px;
        width: auto;
        margin: 30px;

    }
}
@media screen and (max-width:400px) {
    .flex-contacto {
        background-color: #161816;
        
        display: flex;
        color: white;
        font-family: "Nunito", sans-serif;

    }

}

.flex-contacto {
    background-color: $fondo-pages;
    padding: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    color: white;
    font-family: $textos;

}




form {
    padding: 50px 50px;
    box-shadow: 0 0 30px rgba(228, 23, 121, 0.50);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    height: 433px;
    margin-bottom: 30px;
    display: grid;
    justify-content: center;

}

input {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 25px;
    margin-bottom: 15px;
    align-items: center;

}

.contenido p {
    padding: 50px;
    box-shadow: inset 0 0 250px rgba(10, 20, 29, 3.50);
    padding: 10px 25px;
    margin: 10%;
    border-radius: 25px;
}

.contenedor {
    color: whitesmoke;
    text-align: center;
    position: relative;
    z-index: 2;

}